
/src/box2d_py.egg-info
/dist
.\#pyproject.toml
base.h.cffi
combined_header.h.modified
/src/box2d-py/__pycache__
/src/box2d-py/box2d_py.egg-info
/build
*.pyc
*.pyc
*.so
src/box2d/__pycache__/__init__.cpython-312.pyc
src/box2d/__pycache__
src/box2d/box2d_py.egg-info
comb_box2d.h
docs/build
temp
src/tasks/task_scheduler.o
setup.py
